# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint

# User-specific Xcode files
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Archives
*.xcarchive
